:root {
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
.fa {
  color: teal;
}
.containerz {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
.alert-success {
  background: var(--success-color);
  color: #fff;
}
.iris {
  background-image: url('../src/components/auth/images/img1.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.regiss {
  padding-top: 160px;
}
.bookbtn {
  margin-left: 140px;
  padding-left: 30px;
  margin-bottom: 30px;
}
.loginbody {
  background-image: url('../src/components/auth/images/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.login {
  margin-top: 100px;
}
.login .card {
  background: rgba(0, 0, 0, 0.6);
}
.login .label {
  font-size: 16px;
  color: #ccc;
}
.login .input {
  font-size: 20px;
}
.section-hotels {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 40px;
}
.hh {
  margin-left: 46px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hr-body {
  opacity: 10;
  background-image: url('./components/hotelregister/h.jpg');
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.main {
  width: 500px;
  background-color: #eee;
  margin: 20px auto;
  border-radius: 5px;
  border: 2px solid rgb(138, 134, 190);
  box-shadow: 0 0 10px rgb(8, 9, 10);
}

header {
  widows: 100%;
  padding: 10px;
  text-align: center;
  background: linear-gradient(#0fd8b6, #008080);
  color: #fff;
  font-size: 25px;
  text-shadow: 1px 1px 2px #000;
}

.form-box {
  padding: 10px 25px 20px 25px;
}
.inp {
  font-size: 15px;
  width: 100%;
  padding: 8px 12px 12px 10px;
  border: none;
  box-shadow: 0 0 2px 1px #444;
}

.inp:focus {
  outline: none;
  box-shadow: 0 0 5px 1px #4169e1;
  color: #191970;
  font-weight: 600px;
}

label {
  font-size: 18px;
  color: #0a0a0f;
  font-weight: 580px;
}

.inp-row {
  margin: 5px 0 10px 0;
}

.sub-btn {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background: linear-gradient(#0fd8b6, #008080);
  cursor: #fff;
  border: none;
}

.sub-btn:hover {
  background: linear-gradient(#315152, #75a599);
}

.sub-btn:focus {
  outline: none;
}

@media (max-width: 720px) {
  .main {
    width: 90%;
  }
}
.reg{
  margin:0px;
  padding:10;
}